body{
    font-family: 'Noto Sans', sans-serif;/* подключение шрифта */
    font-size: 15px; /*размер тектса по умолчанию*/
    color: #000 ; /*цвет по умолчанию*/
    line-height: 1.1; /*межстрочное расстояние по умолчанию*/
    margin: 0;
    
}
* {
    box-sizing: border-box;
} /*для всех элементов страницы*/

.container{
    width: 100%; /*задействуется вся ширина экрана*/
    max-width: 1500px; /*обозначение максимального кол-во пикселей*/
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0; 
}
.intro{
    width: 100%;/*задействуется вся ширина экрана*/
    height: 100vh;/*задействуется вся высота экрана пользователя*/
    background-color:#f0d9c7;
    padding: 0;
    border: 0;
    margin: 0;
}
.intro1{
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    max-width: 600px;
    padding-top: 10%;
    margin-bottom: 10%;
    
}
.intro2{
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 30px;
    text-align: center;
    margin-left: 50%;
}
.intro2:hover{
    color: #5c534c;
}
.header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: -webkit-sticky;
    z-index: 1000;
    background-color: #b8aaa0;
    position: sticky;
    padding-top: 15px;
}
.header_inner{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.nav{
    font-size: 15px;  
}
.nav_link{
    color: #000;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}
.nav_link:hover{
    color: #5c534c;
}
.about{
    width: 100%;/*задействуется вся ширина экрана*/
    height: 100vh;/*задействуется вся высота экрана пользователя*/
    background-color:#fff;
    padding: 300px 0;
    display:  inline-block;
}
.about_header{
    width: 45%;
    
}
.about_all{
    display:  flex;
}
.about1{  
    font-size: 50px;
    padding-bottom: 40px;
}
.about2{
    width: 100%;
    max-width:700px;  
}
.contact{
    padding-left: 20%; 
}
.contact1{
    font-size: 50px;
    padding-bottom: 40px;
}
.contact2{
    color: #000;
    text-decoration: none;
    display: block;
    
    font-size: 30px;
    line-height: 1.7;
}
.contact2:hover{
    color: #82624a;
}
.project{
    width: 100%;/*задействуется вся ширина экрана*/
    height: 100vh;/*задействуется вся высота экрана пользователя*/
    background-color:#d6b9a3;
    padding: 100px 0;
}
.project_title{
    width: 100%; /*задействуется вся ширина экрана*/
    max-width: 1500px; /*обозначение максимального кол-во пикселей*/
    margin: 0 auto;
    font-size: 40px;
    padding-bottom: 80px;
}
.photo1{
    display: flex;
}
.img1{
    padding-bottom: 40px;
    
    width: 600px;
    height: 350px;
}
.text111{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 30px;
    width: 100%; /*задействуется вся ширина экрана*/
    max-width: 1500px; /*обозначение максимального кол-во пикселей*/
    margin: 0 auto;
}
.text111:hover{
    color: #5c534c;
}

/*mogo g4 and galaxy s5*/
@media(width:360px){
    .prr{font-size: 20px;}
    .nav_link{font-size: 13px;}
    .intro1{font-size: 40px;}
    .intro2{font-size: 20px;}
    .about1{font-size: 25px;}
    .about2{font-size: 17px;}
    .contact1{font-size: 25px;}
    .contact2{font-size: 17px;}
    .pr_tt1{font-size: 30px;}
    .img1{width: 200px;
    height: 150px;}
    .text111{font-size: 20px;}
}
@media(height:640px){
    .intro1{padding-top: 200px;
    padding-bottom: 150px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 100px;}
    .img1{width: 200px;
    height: 150px;}
    .text111{font-size: 20px;}
}

/*pixel 2 and pixel 2XL*/
@media(width:411px){
    .prr{font-size: 20px;}
    .nav_link{font-size: 13px;}
    .intro1{font-size: 40px;}
    .intro2{font-size: 20px;}
    .about1{font-size: 25px;}
    .about2{font-size: 17px;}
    .contact1{font-size: 25px;}
    .contact2{font-size: 17px;}
    .pr_tt1{font-size: 40px;}
    .img1{
        width: 400px;
        height: 240px;
    }
    .text111{font-size: 20px;}
}
@media(height:731px){
    .intro1{padding-top: 200px;
    padding-bottom: 300px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 100px;}
}
@media(height:823px){
    .intro1{padding-top: 220px;
    padding-bottom: 350px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 100px;}
}
/*iphone 5/se*/
@media(width:320px){
    .prr{font-size: 17px;}
    .nav_link{font-size: 11px;}
    .intro1{font-size: 35px;}
    .intro2{font-size: 15px;}
    .about1{font-size: 20px;}
    .about2{font-size: 12px;}
    .contact1{font-size: 20px;}
    .contact2{font-size: 12px;}
    .pr_tt1{font-size: 20px;}
    .img1{width: 300px;
    height: 210px;}
    .text111{font-size: 20px;}
}
@media(height:568px){
    .intro1{padding-top: 190px;
    padding-bottom: 150px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 80px;}
}
/*iphone 6/7/8*/
@media(width:375px){
    .prr{font-size: 22px;}
    .nav_link{font-size: 13px;}
    .intro1{font-size: 45px;}
    .intro2{font-size: 20px;}
    .about1{font-size: 25px;}
    .about2{font-size: 17px;}
    .contact1{font-size: 25px;}
    .contact2{font-size: 20px;}
    .pr_tt1{font-size: 25px;}
    .project{padding: 0px;}
    .img1{width: 360px;
    height: 230px;}
    .text111{font-size: 20px;}
}
@media(height:667px){
    .intro1{padding-top: 190px;
    padding-bottom: 150px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 170px;}

}
@media(height:736px){
    .intro1{padding-top: 200px;
    padding-bottom: 300px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 100px;}
}
@media(width:414px){
    .prr{font-size: 20px;}
    .nav_link{font-size: 13px;}
    .intro1{font-size: 40px;}
    .intro2{font-size: 20px;}
    .about1{font-size: 25px;}
    .about2{font-size: 17px;}
    .contact1{font-size: 25px;}
    .contact2{font-size: 17px;}
    .pr_tt1{font-size: 40px;}
    .img1{
        width: 400px;
        height: 240px;
    }
    .text111{font-size: 20px;}
}

@media(height:812px){
    .intro1{padding-top: 260px;
    padding-bottom: 190px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 170px;}

}
@media(height:1024px){
    .intro1{padding-top: 200px;
    padding-bottom: 100px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 100px;}
    .prr{font-size: 30px;}
    .nav_link{font-size: 23px;}
}

@media(width:1024px){
    .prr{font-size: 35px;}
    .nav_link{font-size: 28px;}
    .intro1{font-size: 100px;}
    .intro2{font-size: 40px;}
    .about1{font-size: 50px;}
    .about2{font-size: 30px;}
    .contact1{font-size: 50px;}
    .contact2{font-size: 35px;}
    .pr_tt1{font-size: 70px;}
    .img1{
        width: 700px;
        height: 540px;
    }
    .text111{font-size: 50px;}
}
@media(height:1366px){
    .intro1{padding-top: 200px;
    padding-bottom: 190px;}
    .about{padding-top:500px;}
    .pr_tt1{padding-top: 100px;}
    .prr{font-size: 30px;}
    .nav_link{font-size: 23px;}
}

@media(width:540px){
    .prr{font-size: 20px;}
    .nav_link{font-size: 13px;}
    .intro1{font-size: 40px;}
    .intro2{font-size: 20px;}
    .about1{font-size: 25px;}
    .about2{font-size: 17px;}
    .contact1{font-size: 25px;}
    .contact2{font-size: 17px;}
    .pr_tt1{font-size: 40px;}
    .img1{
        width: 400px;
        height: 240px;
    }
    .text111{font-size: 20px;}
}
@media(height:720px){
    .intro1{padding-top: 260px;
    padding-bottom: 190px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 170px;}

}

@media(width:280px){
    .prr{font-size: 20px;}
    .nav_link{font-size: 13px;}
    .intro1{font-size: 35px;}
    .intro2{font-size: 20px;}
    .about1{font-size: 20px;}
    .about2{font-size: 13px;}
    .contact1{font-size: 20px;}
    .contact2{font-size: 14px;}
    .pr_tt1{font-size: 30px;}
    .img1{width: 200px;
    height: 150px;}
    .text111{font-size: 20px;}
}
@media(height:653px){
    .intro1{padding-top: 200px;
    padding-bottom: 150px;}
    .about{padding-top:200px;}
    .pr_tt1{padding-top: 100px;}
    .img1{width: 200px;
    height: 150px;}
    .text111{font-size: 20px;}
}
